html
  font-size: 62.5%
  font-family: "Roboto", sans-serif
  font-weight: 400
  *
    box-sizing: border-box

#root
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.logo
  margin: 15px
