.about-me

  &__wrap
    margin-top: auto
    z-index: 2
    transition: opacity $transition/2
    pointer-events: all

    &--hidden
      opacity: 0
      pointer-events: none

  &__text
    margin: 0 -2rem 1.4rem 0
    font-size: 1.1rem
    line-height: 1.8rem
    padding-right: 23px
    font-family: "Roboto", sans-serif
    font-weight: 400
    color: $white
    @include media("<large")
      margin-bottom: 2.7rem
    @include media("<desktop")
      margin-bottom: 1.9rem
      padding-right: 10px
      font-size: 1.2rem
      line-height: 1.8rem
    @include media("<tablet")
      margin: 0.5rem 0


  &__links
    @include resetlist()
    margin: 0 0 0.2rem 0rem
    display: flex
    flex-flow: row wrap
    flex-shrink: 0

  &__element
    flex-shrink: 0


  &__link
    display: flex
    justify-content: center
    align-items: center
    width: 28px
    height: 28px
    margin-right: 5px
    color: $white


    svg
      width: 18px
      height: 18px
      fill: $white
      will-change: transform
      transition: transform $transition
      @include media("<tablet")
        width: 22px
        height: 22px

    &:hover
      @include media(">tablet")
        svg
          transform: scale(1.1)

    //&--mail
    //  padding-bottom: 1px
    //  svg
    //    width: 34px
    //    height: 34px
    //    @include media("<tablet")
    //      width: 28px
    //      height: 28px


    @include media("<large")
      span
        font-size: 1.2rem

  &__copyright
    display: block
    margin: 1rem -2rem 0 0
    opacity: 0.5
    a
      color: $white
    @include media("<tablet")
      margin-top: 0.5rem

.about-me__face-gif
  width: 80px
  margin-left: -2rem
  @include media("<desktop")
    width: 66px
    margin-left: -19px
