.about-me


  &__wrap
    margin-top: auto
    z-index: 2

  &__text
    margin-bottom: 1.4rem
    font-size: 1.6rem
    line-height: 2.4rem
    padding-right: 23px
    font-family: "Roboto", sans-serif
    font-weight: 400
    color: $white
    @include media("<large")
      margin-bottom: 2.7rem
    @include media("<desktop")
      margin-bottom: 1.9rem
      padding-right: 10px
      font-size: 1.2rem
      line-height: 1.8rem


  &__links
    @include resetlist()
    margin: 0 0 0.2rem -1rem
    display: flex
    flex-flow: row wrap

  &__element



  &__link
    display: flex
    justify-content: center
    align-items: center
    color: $white
    width: 45px
    height: 45px

    svg
      width: 28px
      height: 28px
      fill: $white
      transition: transform $transition

    &:hover
      svg
        transform: scale(1.1)

    &--mail
      padding-bottom: 1px
      svg
        width: 34px
        height: 34px



    @include media("<large")
      span
        font-size: 1.2rem

  &__copyright
    display: block
    margin-top: 10px
    opacity: 0.5
    a
      color: $white
