@keyframes mainShow
  0%
    transform: translateX(200%)
  50%
    transform: translateX(100%)
  100%
    transform: translateX(0)

.main
  display: flex
  margin-left: 2rem
  max-height: 860px
  width: 780px
  background-color: $bg
  overflow: hidden
  @include media("<tablet")
    margin-left: 0
    z-index: 4
    position: absolute
    transform: translateX(200%)
    width: 280px
    height: 360px


.main--mobShow
  @include media("<tablet")
    animation-name: mainShow
    animation-delay: 100ms
    animation-duration: 300ms
    animation-iteration-count: 1
    animation-timing-function: linear
    animation-fill-mode: forwards


.main__section
  display: flex
  width: 100%
  flex-flow: column nowrap



.main__section-title
  margin: 0 0 27px 0
  @include media("<large")
    margin: 0 0 16px 0
  @include media("<desktop")
    margin: 0 0 13px 0
  @include media("<tablet")



.main__text-wrap
  padding: 3.4rem 4rem 0
  @include media("<large")
    padding-top: 1.8rem
  @include media("<desktop")
    padding: 0.5rem 2rem 0


.main__text
  p
    margin: 10px 0
  p + p
    margin-top: 10px
  @include media("<desktop")
  @include media("<tablet")
    display: none

.main__mobile-goback
  display: none
  @include media("<tablet")
    display: block
    width: 70px
    height: 20px
    margin: 35px 15px 0
    appearance: none
    background: none
    border: none
    cursor: pointer
    svg


