.main
  display: flex
  margin-left: 2rem
  height: 860px
  width: 780px
  background-color: $bg


.main__section
  display: flex
  width: 100%
  flex-flow: column nowrap

.main__section-title
  margin: 0 0 27px 0


.main__text-wrap
  padding: 3.4rem 4rem

.main__text
  line-height: 2rem
