.nav-wrap
  position: relative
  display: flex
  flex-flow: column nowrap
  flex-shrink: 0
  width: 400px
  height: 840px
  padding: 39px 39px 38px  39px
  background-color: $webd
  color: $white
  overflow: hidden
  @include media("<large")
    padding: 20px
    height: 800px
    width: 360px
  @include media("<desktop")
    height: 660px
    width: 290px
  @include media("<tablet")
    height: 360px
    width: 280px


.gradient-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 1
  background-color: $webd

.nav-bg-gradient
  position: absolute
  top: 0
  left: 0
  height: 300px
  width: 300px
  transform: scale(0.5)
  animation-name: gradient-grow
  animation-duration: 6s
  animation-fill-mode: forwards
  animation-iteration-count: 1

.nav-bg-gradient--test
  height: 300px
  width: 300px
  animation: none
  background-image: radial-gradient(circle at center, $webd 43%, transparent 71%)

@keyframes gradient-grow
  0%
    opacity: 0
    transform: scale(0.5)
  10%
    opacity: 1
  50%
    transform: scale(20)
  100%
    transform: scale(20)

.nav
  z-index: 2

.nav__list
  @include resetlist()
  margin: 0 -15px 0 -15px
  list-style: none
  @include media("<large")
    margin: 0 -20px
    margin-right: -20px
  @include media("<tablet")
    position: absolute
    opacity: 0
    height: 0
    overflow: hidden
    transition: height $transition

  &--show
    opacity: 1
    height: 400px
    width: 100%


// .nav-el

.nav__link
  position: relative
  display: block
  padding: 1.52rem 0 1.52rem 1.5rem
  text-decoration: none
  color: $white
  font-size: 2rem
  font-family: "PT Mono", serif
  font-weight: 600
  user-select: none
  transition: background-color $transition, font-weight $transition*2
  &:after
    content: ""
    position: absolute
    right: 16px
    top: 50%
    width: 10px
    height: 10px
    background-color: $white
    clip-path: polygon(0 33%, 67% 33%, 67% 100%, 100% 100%, 100% 0, 0 0)
    opacity: 0
    transform: translate(-30px, -50%) rotate(45deg)
    transition: transform $transition, opacity $transition

  &.active
    background-color: rgba(255, 255, 255, 0.15)
    transition: background-color $transition, text-shadow $transition
    &:after
      opacity: 1
      transform: translate(0, -50%) rotate(45deg)

  &:hover
    background-color: rgba(255, 255, 255, 0.15)

  @include media("<desktop")
    font-size: 1.6rem
    padding: 1.3rem 0 1.3rem 1.9rem

.nav__logo
  margin: 3px 0 16px 0
  z-index: 2
  @include media("<desktop")
    margin: 3px 0 11px 0
    svg
      width: 78px

.nav__mobileBtn
  display: none
  @include media("<tablet")
    position: absolute
    right: 20px
    top: 20px
    display: block
    z-index: 3
    appearance: none
    border: none
    background: none
    font-weight: 900
    color: $white
    font-size: 3.0rem
    &:focus, &:active
      background: none
      outline: none
      border: none
      appearance: none


